.container {
    background-color: black;
    padding: 40px;
}

.name-title {
    color: orange;
    font-size: 6rem;
}

.role-title {
    font-size: 5rem;
}

.location-name {
    font-size: 3rem;
}

.current-skills {
    font-size: 2rem;
}

h2 {
    color: orangered;
    font-weight: 5rem;
}

h3 {
    color: orange;
}

p {
    color: orange;
}