.portfolio {
    background-color: pink;
    height: 100vh;
}

.portfolio .section-title {
    text-align: center;
}

.project {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 50px 400px 50px 50px;
}

.project h2 {
    color: black;
    font-size: medium;
    text-align: center;
}

.project p {
    border: 1px dashed black;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
}

article .link {
    text-align: center;
}