.portfolio {
    background-color: #121826;
}

.portfolio .section-title {
    text-align: center;
    color: orange;
    font-size: xx-large;
    margin-top: 100px;
}

.project {
    border: 5px solid orange;
    border-radius: 5px;
    display: grid;
    padding: 10px;
    grid-template-rows: 50px 400px 50px 50px;
}

.project h2 {
    color: white;
    font-size: medium;
    text-align: center;
}

.project p {
    border: 1px dashed black;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
    padding: 40px;
}

.project .link {
    display: inline-block;
    text-align: center;
    justify-self: center;
    list-style: none;
    color: black;
    text-decoration: none;
    margin-top: 15px;
    font-weight: bolder;
    font-size: large;
    color: white;
}

.project .link:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(37, 99, 235, 0.3);
    color: orange;
}

@media (max-width: 768px) {
    .project-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
        padding: 40px;
    }
}