* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.portfolio {
    background-color: pink;
    padding: 20px;
}

.project {
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    display: grid;
    grid-template-rows: 30px 1fr 30px 20px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 0 50px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.project,
li {
    list-style-type: none;
    text-align: center;
    font-size: larger;
}

.project-titles {
    color: black;
    font-size: large;
}